.idea
.gradle
/build/
.gradle-local-user-home/
.gradle-local-project-cache/
__pycache__/
*.pyc
*.hprof
local-history/
local-weekly-history-demo/
output.txt

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

tags

# JMH result files
results/*.csv
results/*.json
local-*-artifacts/
